# Path to BeamNG.tech folder (set per computer) e.g.:
BEAMNG_HOME=C:\Path\To\BeamNG.tech.v0.38.3.0

# BeamNGpy connection
BEAMNG_HOST=localhost
BEAMNG_PORT=64256

# Optional: results folder override
RESULTS_DIR=results

# Run mode:
#   ui       = visible window (development/debug)
#   headless = no window, still renders (good for sensors)
#   nogfx    = -gfx null (fastest, no camera sensors)
BEAMNG_MODE=ui